*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    min-height: 100vh;
}
.filmix{
    font-size: 150px;
    font-family: 'Bebas Neue';
    color: #e50914;
    text-align: center;
    margin-top: 20px;
}
.card{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 500px;
    background-color: #111;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.212); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagem{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info h2{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
}
.avaliacao{
    display: flex;
    align-items: center;
} 
p{
    text-align: left;
}
.link2{
    display: inline-block;
    padding: 5px 10px;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-left: 200px;
}
.link1{
    display: inline-block;
    padding: 5px 10px;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 30px;
}
.link1:hover{
    background-color: #690005;
}
.link2:hover{
    background-color: #690005;
}